<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Spark on OCI</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
    
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/js/main/jquery.min.js"></script>
	<script src="assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script src="assets/js/plugins/ui/slinky.min.js"></script>
    <script src="assets/js/plugins/ui/fab.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handlebars@4.0.5/dist/handlebars.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/app.js"></script>
	<script src="assets/js/custom.js"></script>
	<!-- /theme JS files -->

<style>
.app>button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.img-container{
    height: 70px;
    padding: 0;
    display:table;
}

.img-container img{
    max-height:70px;
}

.img-container .img-cell{
    display:table-cell;
    vertical-align:middle;
}

.img-container + span {
    text-transform: capitalize;
    font-size: 13px;
}

.loader {
    background: white;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

</style>

</head>

<body>
    <div class="loader">
        <img src="assets/img/ajax-loader.gif" />
    </div>
	<!-- Page header -->
	<div class="page-header page-header-dark">

            <!-- Page header content -->
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h2>Forecastle - Stakater</h2>
                    <a href="#" class="header-elements-toggle text-white d-md-none">
                        <i class="icon-more"></i>
                    </a>
                </div>
    
                <div class="header-elements d-none bg-transparent py-0 border-0 mb-3 mb-md-0">
                    <form action="#">
                        <div class="form-group form-group-feedback form-group-feedback-right">
                            <input type="search" class="form-control bg-light-alpha border-transparent wmin-md-200 search-box" placeholder="Search">
                            <div class="form-control-feedback">
                                <i class="icon-search4 font-size-sm"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /page header content -->
    
        </div>
        <!-- /page header -->
    
    
        <!-- Page content -->
        <div class="page-content">
    
            <!-- Main content -->
            <div class="content-wrapper">
    
                <!-- Content area -->
                <div class="content">
    
                    <div class="apps">
                    </div>

                </div>
                <!-- /content area -->
    
            </div>
            <!-- /main content -->
    
        </div>
        <!-- /page content -->
    
    
        <!-- Footer -->
        <div class="navbar navbar-expand-lg navbar-light">
            <!-- span class="mx-auto navbar-text">
                Made with 
                <i class="icon-heart6"></i>
                in Islamabad 
                By <a href="https://stakater.com" target="_blank">Stakater</a>
            </span -->
        </div>
        <!-- /footer -->
		
</body>

<script id="app-template" type="text/x-handlebars-template">
<div class="group">
    <div class="group-header">
        <h2 class="mt-3 text-capitalize">{{Group}}</h2>
        <hr class="mt-0" />
    </div>
    <div class="group-content">
        <div class="row">
        {{#each Apps}}
            <div class="col-3 app my-2">
                <button type="button" class="btn btn-light btn-block btn-float m-0 p-5" onclick="window.open('{{URL}}', '_blank')">    
                {{#if Icon}}
                    <div class="img-container">
                        <span class="img-cell">
                            <img class="img-fluid mx-auto d-block" src="{{Icon}}" />
                        </span>
                    </div>
                {{/if}}
                    <span>{{Name}}</span>
                </button>
            </div>
        {{/each}}
        </div>
    </div>
</div>
</script>
</html>
